// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$white-color: #fff;
$light-grey-color: #eeeeee;
$medium-grey-color: #797f86;
$dark-grey-color: #323232;
$cherry-red-color: #bf2957;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
